rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner() {
      return isAuthenticated() &&
        resource.data.members[request.auth.uid].role == 'owner';
    }

    function isAdmin() {
      return isAuthenticated() &&
        resource.data.members[request.auth.uid].role == 'admin';
    }

    // For nested collections - check parent org membership
    function isOrgMemberByOrgId(orgId) {
      let orgData = get(/databases/$(database)/documents/organizations/$(orgId)).data;
      return isAuthenticated() &&
        'members' in orgData &&
        request.auth.uid in orgData.members;
    }

    match /users/{userId} {
      allow read, create, update: if request.auth.uid == userId;
    }

    // Rules for the 'organizations' collection
    match /organizations/{orgId} {
      allow read; // TEMPORARY: For debugging
      allow list: if isAuthenticated();
      allow update: if isOwner() || isAdmin();
      allow delete: if isOwner() || isAdmin();
      allow create: if isAuthenticated();

      match /boards/{boardId} {
        allow read, list, update, delete: if isOrgMemberByOrgId(orgId);
        allow create: if isAuthenticated();

        match /lists/{listId} {
          allow read, list, create, update, delete: if isOrgMemberByOrgId(orgId);
        }

        match /cards/{cardId} {
          allow read, list, update, delete: if isOrgMemberByOrgId(orgId);
          allow create: if debug(isAuthenticated());
        }
      }
    }
  }
}